$lightPurple: #bea9db;
$lightPurpleShadow: #bea9db66;
// $darkPurple: #26004b;
$darkPurple: rgb(70,41,76);
$blueShadow: #00008bcc;
$blueShadowSubtle: #00008b66;
$contentPadding: 5px 10vw;
$lightText: white;

.navbar {
    display: flex;
    background-color: $darkPurple; 
    justify-content: space-between;
    align-items: center;
    padding: $contentPadding;

    & h1 {
        color: $lightText;
        text-shadow: -3px 3px 2px $lightPurpleShadow;
        font-size: 3em;
    }

    & img {
        height: 6em;
    }
}


.main {
    padding: $contentPadding;
}
.whatis {
    color: $darkPurple;
    display: flex;
    align-items: center;
    gap: 2em;

    & .whatis-section {
        flex: 2;
        & .whatis-header {
            margin: 1em 0 .5em 0;
    
        }
    
        & .whatis-text {
            padding: .5em 1em;
            //border: solid 2px $darkPurple;
            box-shadow: -3px 3px 6px 1px #00000088;
            border-radius: 1em;
    
            & p {
                margin-bottom: .5em;
            }
        }
    }


    & img {
        flex: 1;
        width: 25vw;
        height: 25vw;
    }
}

.footer {
    padding: $contentPadding;
    background-color: $darkPurple;
    margin-top: 3em;

    & .footer-content {
        color: $lightText;
        text-align: right;
    }
}

