.navbar {
    display: flex;
    background-color: plum; 
    justify-content: space-between;
    align-items: center;
    padding: 5px 5em;

    & h1 {
        color: white;
    }

    & img {
        height: 6em;
    }
}

